.core-view-wrapper {
    --core-view-background: var(--light-theme-background);

    background: var(--core-view-background);

    .core-content {
        margin-top: var(--header-height);
        padding: calc(var(--view-side-padding) / 2) calc(var(--view-side-padding) * 2);
        min-height: calc(100vh - var(--header-height));

        &.use-side-navigation {
            margin-top: 0px;
            margin-left: var(--header-side-width);
            padding: 2rem;
            width: calc(100vw - var(--header-side-width));
            height: 100vh;
        }
    }
    
    &.dark-theme {
        --core-view-background: var(--dark-theme-background);
    }

    &.custom-theme {
        --core-view-background: var(--custom-theme-background);
    }
}