:root {
    --button-border: 1px;
    --button-color: var(--text-color);
    --button-background: var(--background-color);
    --button-primary: var(--primary);
    --button-brightness-disabled: 80%;
}

.button-wrapper {
    user-select: none;
    padding: .3rem .5rem;
    border-radius: var(--border-radius);
    font-family: var(--font-family);

    border: var(--button-border) solid var(--lighter-grey);
    background: var(--button-background);
    color: var(--button-color);

    &:hover {
        cursor: pointer;
        border: var(--button-border) solid var(--button-primary);
        color: var(--button-primary);
    }

    &.primary {
        border: 1px solid transparent;
        background: var(--button-primary);
        color: var(--white);

        .font-awesome-icon {
            color: inherit;
        }
    }

    &.primary:hover {
        filter: brightness(120%);
    }

    &.button-disabled {
        filter: brightness(var(--button-brightness-disabled));
        pointer-events: none;
    }

    &.dark-theme {
        --button-color: var(--white);
        --button-background: var(--grey);
        --button-primary: var(--red);
        --button-brightness-disabled: 60%;
    }
}

.button-group {
    display: inline-block;
    margin-right: .8rem;    

    .button-wrapper {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}