.button-wrapper {
    --button-border: 1px;
    --button-background: var(--light-theme-background);
    --button-color: var(--light-theme-color);
    --button-primary: var(--light-theme-primary);
    --button-brightness-disabled: 80%;

    user-select: none;
    padding: .3rem .5rem;
    border-radius: var(--border-radius);
    font-family: var(--font-family);

    border: var(--button-border) solid var(--light-grey);
    background: var(--button-background);
    color: var(--button-color);
    transition: var(--animate-colors);

    &.button-disabled {
        cursor: not-allowed;
        filter: brightness(var(--button-brightness-disabled));
    }

    &:not(.primary, .button-disabled):hover {
        cursor: pointer;
        border: var(--button-border) solid var(--button-primary);
        color: var(--button-primary);
    }

    &.primary {
        border: 1px solid transparent;
        background: var(--button-primary);
        color: var(--white);
        
        &:not(.button-disabled):hover {
            cursor: pointer;
            filter: brightness(120%);
        }
    }

    &.dark-theme {
        --button-background: var(--dark-theme-background);
        --button-color: var(--dark-theme-color);
        --button-primary: var(--dark-theme-primary);
        --button-brightness-disabled: 60%;
    }

    &.custom-theme {
        --button-background: var(--custom-theme-background);
        --button-color: var(--custom-theme-color);
        --button-primary: var(--custom-theme-primary);
    }
}

.button-group {
    display: inline-block;
    margin-right: .8rem;    

    .button-wrapper {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:nth-child(n + 2):nth-child(n) {
            border-left: none;
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}