.theme-dropdown {
    --theme-switch-background: var(--light-theme-background);
    --theme-switch-color: var(--light-theme-color);

    position: relative;
    display: inline-block;
    transition: var(--animate-colors);

    .theme-dropdown-target {
        display: flex;
        align-items: center;
    }

    .theme-dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 0;
        background: var(--theme-switch-background);
        border-radius: 15px;

        .theme-setting-content {
            position: relative;

            .theme-option {
                display: block;
            }

            .theme-setting-label {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                padding: .4rem .5rem;
                padding-left: 1rem;
                width: max-content;
                font-size: var(--font-size);
                transform: translateX(90%);
                background: var(--theme-switch-background);
                color: var(--theme-switch-color);
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &:hover:not(:has(.theme-setting-label:hover)) {
                .theme-setting-label {
                    display: block;
                }
            }
        }
    }

    &:hover {
        .theme-dropdown-content {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &.use-top-navigation {
        .theme-dropdown-content {
            top: 0;
            bottom: initial;

            .theme-setting-label {
                top: 0;
                left: 0;
                right: initial;
                padding: .4rem .5rem;
                padding-right: 1rem;
                transform: translateX(-90%);
                border-radius: 0;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        &:hover {
            .theme-dropdown-content {
                flex-direction: column;
            }
        }
    }

    &.dark-theme {
        --theme-switch-background: var(--dark-theme-background);
        --theme-switch-color: var(--dark-theme-color);
    }

    &.custom-theme {
        --theme-switch-background: var(--custom-theme-background);
        --theme-switch-color: var(--custom-theme-color);
    }
}