.typography {
    --typography-color: var(--light-theme-color);

    font-family: var(--font-family);
    color: var(--typography-color) !important;
    transition: var(--animate-colors);

    &.dark-theme {
        --typography-color: var(--dark-theme-color);
    }

    &.custom-theme {
        --typography-color: var(--custom-theme-color);
    }
}