.birthday-form {
    .form-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem 0;

        .item-label {
            display: inline-block;
            min-width: 200px;
        }
    }
}