.custom-color-table {
    .custom-color-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem 0;

        .custom-color-item-label {
            display: inline-block;
            min-width: 200px;
        }
    }
}