:root {
    --max-height: calc(100vh - var(--header-height) - var(--view-side-padding));
    --calculator-text-color: var(--white);
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    height: var(--max-height);
    width: 100%;
    padding: .7rem;
    background: var(--darkest-grey);

    .name-wrapper{
        margin-bottom: .5rem;
        font-size: 1.4rem;
        text-align: center;
        color: var(--calculator-text-color);
    }

    .display {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        padding: .5rem;
        margin-bottom: .5rem;
        font-size: 1.3rem;
        color: var(--calculator-text-color);

        .display-value {
            height: 2rem;

            &.large {
                font-size: 4rem;
            }
        }
    }

    .button-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3px;
        flex: 2;
    
        .blazor-button {
            padding: 1rem;
            border: none;
            border-radius: 6px;
            background: var(--dark-grey);
            color: var(--calculator-text-color);

            &:hover {
                background: var(--darker-grey);
            }

            &.operation {
                background: var(--darker-grey);

                &:hover {
                    background: var(--dark-grey);
                }
            }

            &.eQoperation {
                background: var(--grey);

                &:hover {
                    background: var(--dark-grey);
                }
            }
        }
    }

    .blazor-button {
        font-size: 1.3rem;

        &.button-disabled {
            cursor: not-allowed;
            filter: brightness(70%);
        }
    }
}