:root {
    --background-color: #555;
}

body {
    background: var(--background-color);
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 2px solid red;
    color: #fff;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    
    .blazor-button {
        padding: .5rem;
        border: 2px solid var(--background-color);
        border-radius: 10px;
        background: #333;
        color: #fff;
    }
}

.blazor-button {
    border: none;
    font-size: 2.5rem;
    background: #ddd;
}