@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --lightest-grey: #ddd;
    --lighter-grey: #777;
    --light-grey: #666;
    --grey: #555;
    --dark-grey: #444;
    --darker-grey: #333;
    --darkest-grey: #222;
    --black: #000;
    --prime-blue: #1476ff;
    --prime-blue-rgb: 20, 118, 255;
    --red: #cc0000;
    --red-rgb: 204, 0, 0;
    --dark-red: #990000;

    /* Light */
    --light-theme-background: var(--white);
    --light-theme-background-2: var(--lightest-grey);
    --light-theme-color: var(--black);
    --light-theme-primary: var(--prime-blue);
    --light-theme-primary-rgb: var(--prime-blue-rgb);

    /* Dark */
    --dark-theme-background: #141414;
    --dark-theme-background-2: #0f0f0f;
    --dark-theme-color: var(--white);
    --dark-theme-primary: var(--red);
    --dark-theme-primary-rgb: var(--red-rgb);

    /* Custom */
    --custom-theme-background: #141414;
    --custom-theme-background-2: #0f0f0f;
    --custom-theme-color: var(--white);
    /* --custom-theme-primary: #66ff00; */
    --custom-theme-primary: #00ffbf;
    --custom-theme-primary-rgb: 102, 255, 0;

    --font-family: 'Montserrat', sans-serif;
    
    --font-size: 14px;
    --border-radius: 5px;
    --view-side-padding: 2rem;
    --header-height: 3rem;
    --header-side-width: 12rem;
    --footer-height: 0rem;

    --max-content-height: calc(100vh - var(--header-height) - 4rem);
    --animate-colors: background .3s, color .3s;

    @media (max-width: 600px) {
        --view-side-padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html *::-webkit-scrollbar{
    width: 9px;
}

html *::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.08);
}

html *::-webkit-scrollbar-thumb{
    background: rgba(160, 160, 160, 0.5);
}

html *::-webkit-scrollbar-thumb:hover{
    background: rgba(150, 150, 150, 0.4)
}