@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --white: #fff;
    --lightest-grey: #ddd;
    --lighter-grey: #666;
    --light-grey: #555;
    --grey: #444;
    --dark-grey: #333;
    --darkest-grey: #222;
    --black: #000;
    --prime-blue: #1476ff;
    --prime-blue-rgb: 20, 118, 255;
    --red: #cc0000;
    --red-rgb: 204, 0, 0;
    --dark-red: #990000;

    /* Light */
    --light-theme-background: var(--white);
    --light-theme-background-2: var(--lightest-grey);
    --light-theme-color: var(--black);
    --light-theme-primary: var(--prime-blue);
    --light-theme-primary-rgb: var(--prime-blue-rgb);

    /* Dark */
    --dark-theme-background: var(--darkest-grey);
    --dark-theme-background-2: var(--dark-grey);
    --dark-theme-color: var(--white);
    --dark-theme-primary: var(--red);
    --dark-theme-primary-rgb: var(--red-rgb);

    /* Custom */
    --custom-theme-background: var(--black);
    --custom-theme-background-2: var(--black);
    --custom-theme-color: var(--white);
    --custom-theme-primary: #66ff00;
    --custom-theme-primary-rgb: 102, 255, 0;

    --font-family: 'Montserrat', sans-serif;
    
    --font-size: 14px;
    --border-radius: 5px;
    --view-side-padding: 2rem;
    --header-height: 3rem;
    --header-side-width: 12rem;
    --footer-height: 0rem;

    @media (max-width: 600px) {
        --view-side-padding: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}