<button
    class="@ClassNames"
    @onclick="OnButtonClick"
    disabled="@Disabled"
>
    @Text
</button>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    [Parameter]
    public string ClassName { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; } = false;

    private string ClassNames
    {
        get
        {
            return string.Join(" ",
                new List<string>()
                {
                    "blazor-button",
                    Disabled ? "button-disabled" : string.Empty,
                    ClassName
                }.Where(x => !string.IsNullOrEmpty(x))
            );
        }
    }

    private async Task OnButtonClick()
    {
        await OnClick.InvokeAsync(Text);
    }
}
